<!-- Navbar Start -->

  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0 sticky-top">

    <a href="/" class="navbar-brand p-0">
      <div class="d-flex align-items-center">
          <img src="https://cdn.discordapp.com/attachments/1064773686550343722/1198302871402336338/FerrenBot.png"
            alt="FerrenBot logo" width="50">
        <h1 class="text-primary ms-2">Ferren</h1>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0 me-n3">
          <a href="https://ferren.fr.to" id="home" class="nav-item nav-link active">Home</a>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->